name: Code checks

on: [push]

env:
  POETRY_VERSION: 1.8.2

jobs:
  Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        PYTHON_VERSION: ["3.11", "3.12"]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.PYTHON_VERSION }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.PYTHON_VERSION }}

      - name: Install poetry
        run: |
          python -m pip install --upgrade pip
          python -m pip install poetry==${{env.POETRY_VERSION}}

      - name: Test the lock file is up to date
        run: python -m poetry check --lock

      - name: Install the library
        run: poetry install -v

      - name: Test the library
        run: poetry run pytest

